:root {
  --primary-color-light: #f0f0f0;
  --secondary-color-light: #ffffff;
  --text-color-light: #333;
  --hover-color-light: #ddd;
  --button-bg-light: #e0e0e0;
  --button-hover-light: #ccc;
  --sidebar-bg-light: #ffffff;

  --primary-color-dark: #1e1e1e;
  --secondary-color-dark: #2e2e2e;
  --text-color-dark: #f0f0f0;
  --hover-color-dark: #555;
  --button-bg-dark: #333;
  --button-hover-dark: #444;
  --sidebar-bg-dark: #2e2e2e;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    color: var(--text-color-light);
}

.container.dark{
    color: var(--text-color-dark);
}



.nav-bar{
    height: 100vh;
    width: 15vw;
    background-color: var(--sidebar-bg-light);
}

.container.dark .nav-bar{
    background-color: var(--sidebar-bg-dark);
}



.content{
    height: 100vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--primary-color-light);
    padding: 40px;
}

.container.dark .content{
    background-color: var(--primary-color-dark);
}



ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 22px;
    padding: 40px 30px;
}



a{
    color: var(--text-color-light);
    transition: 0.3s;
}

.container.dark .nav-bar a{
    color: var(--text-color-dark);
}

a:hover{
    color: var(--hover-color-light);
}

.container.dark .nav-bar a:hover{
    color: var(--button-hover-dark);
}



.themeToggle{
    padding: 10px 20px;
    border: none;
    background-color: var(--button-bg-light);
    width: 8%;
    cursor: pointer;
    transition: 0.3s;
}

.container.dark .themeToggle{
    background-color: var(--button-bg-dark);
    color: var(--text-color-dark);
}

.themeToggle:hover{
    padding: 10px 20px;
    border: none;
    background-color: var(--button-hover-light);
    width: 8%;
    cursor: pointer;
}

.container.dark .themeToggle:hover{
    background-color: var(--button-hover-dark);
}


